@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.ActionLink("List of Regions", "Index", "Regions")<br />
    @Html.ActionLink("List of Companies", "Index", "Companies")<br />
    @Html.ActionLink("List of Departments", "Index", "Departments")<br />
    @Html.ActionLink("List of People/Resource", "Index", "People")<br />
    @Html.ActionLink("List of Status's", "Index", "Status")<br />
</div>
